In [2]:
import pandas as pd
from io import StringIO

csv_data = '''A,B,C,D
              1.0,2.0,3.0,4.0
              5.0,6.0,,8.0
              10.0,11.0,12.0'''

df = pd.read_csv(StringIO(csv_data))
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [3]:
df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

In [4]:
tmp = df.dropna()
tmp

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [5]:
tmp = df.dropna(axis=1)
tmp

      A     B
0   1.0   2.0
1   5.0   6.0
2  10.0  11.0

In [6]:
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [7]:
tmp = df.dropna(how='all')
tmp

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [10]:
tmp = df.dropna(thresh=4)
tmp

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [11]:
tmp = df.dropna(subset=['C'])
tmp

      A     B     C    D
0   1.0   2.0   3.0  4.0
2  10.0  11.0  12.0  NaN